.class-bold{
    font-weight: bold;
}
.leftSide_sidebar{
    height: 100vh;
    width: 225px;
    border-right: 2px solid #ddd;
}
.margin-down{
    margin: 0px 0px 8px 0px;
}
.cat{
    font-weight: bold;
    margin: 0;
    
}
ul{
    margin: 0;
    list-style-type: none;
    padding: 0;
}
li{
    margin: 0px 0px 5px 0px;
}
.list_hover:hover{
    color:#F3A847;
}
a{
    text-decoration: none;
    color:black;
}
.list_icon_value{
    margin:3px;
}
.list_value{
    font-weight: bold;
    margin-left: 10px;
}
.list_value_margin{
    margin: 0px 0px 4px 24px;
}
.class-margin{
    margin-bottom: 8px;
}
input[type="checkbox"]{
    box-shadow: none;
}
input[type="checkbox"]:hover{
    box-shadow: inset 0 0 5px rgba(0,0,255,0.5);
}
.custom-checkbox input[type="checkbox"]{
    transform: scale(1.2);
}
.custom-checkbox .checkbox-height{
    font-size: 15px;
}
.span-margin{
    margin-left: 5px;
}